player-connection-mode=Listen
player-connection-guid=371050441
player-connection-debug=0
player-connection-project-name=VR Multiplayer Game V2
player-connection-ip=172.22.6.221
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=Oculus,OpenVR
hdr-display-enabled=0
